:root {
	--juriverse-dark: #46464a;
	--juriverse-grey: #a3a3a8;
	--juriverse-gold: #cca768;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

@font-face {
	font-family: Gilroy;
	src: url(Gilroy.otf);
	font-weight: bold;
}

.rob-font {
	font-family: 'Roboto', sans-serif;
}

.slab-font {
	font-family: 'Roboto Slab', serif;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#logo a {
	text-decoration: none;
	color: var(--juriverse-gold);
	margin: 2vw;
	font-size: 2.5vw;
	font-family: Gilroy;
}

#logo a:hover {
	color: var(--juriverse-gold);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20vw;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

li a {
	display: block;
	padding: 8px 10px;
	text-decoration: none;
}

.activeBox {
	background-color: white;
}

#activeLink {
	color: var(--juriverse-dark);
}

.material-icons.md-activeIcon {
	color: var(--juriverse-gold);
}

.listBox:hover:not(.firstItem) {
	background-color: white;
	color: var(--juriverse-dark);
	border-right-color: var(--juriverse-gold);
	border-right-width: 5pt;
	border-right-style: inset;
}

.listBox:hover a {
	color: var(--juriverse-dark);
}

.listLink a:hover {
	color: var(--juriverse-dark);
}

.firstItem {
	margin-bottom: 1vw;
}

.listBox {
	display: flex;
	align-items: center;
	cursor: pointer;
}

/* .listBox:hover .dropdown-content {display: block;} */

.categories {
	margin-top: 1.5vw;
}

.upload {
	margin-top: 1.5vw;
}

.listIcon {
	margin-left: 2vw;
}

.material-icons.md-24 {
	font-size: 24px;
	cursor: pointer;
}

.material-icons.md-grey {
	color: var(--juriverse-grey);
}

.material-icons.md-dark {
	color: var(--juriverse-dark);
}

.material-icons.md-gold {
	color: var(--juriverse-gold);
}

.listBox:hover .material-icons {
	color: var(--juriverse-gold);
	transform: scale(1.3, 1.3);
}

.listLink {
	margin: 0.8vw;
}

.listLink a {
	color: var(--juriverse-grey);
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.profile {
	position: absolute;
	bottom: 0;
	margin-bottom: 11vw;
	width: 100%;
}

.username {
	font-size: 13px;
	margin-top: 4px;
}
.profile .listLink a {
	margin-right: 1vw;
}
.logout {
	position: absolute;
	bottom: 0;
	margin-bottom: 2vw;
	width: 100%;
}

.logout a {
	color: var(--juriverse-grey);
	font-weight: 600;
	font-size: 12px;
	padding: 8px;
	margin-left: 2vw;
}

.logout a:hover {
	color: var(--juriverse-dark);
}
.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.settings {
	padding: 1.5vw;
	margin-left: -14%;
}

.main {
	margin-left: 20vw;
}

.top-box {
	margin-top: 0px;
	padding-top: 4vw;
	margin-left: 8vw;
}

.page-header {
	font-size: 24px;
	font-weight: 600;
	color: #414145;
}

.search-bar {
	width: 47vw;
	height: 44px;
	background-color: #fafafa;
	border: none;
	padding-left: 3vw;
	color: var(--juriverse-grey);
	font-weight: 400;
}

.search-suggestion {
	color: var(--juriverse-dark);
	font-size: 14px;
	font-weight: 400;
}

.search-suggestion span a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	padding: 10px;
	color: var(--juriverse-grey);
	text-decoration: none;
}

.search-suggestion span a:hover {
	color: #414145;
	cursor: pointer;
}

#special {
	color: var(--juriverse-gold);
}

#special:hover {
	color: #414145;
}

.divider {
	width: 60vw;
	height: 2px;
	background-color: #f8f8f8;
	margin: 2vw 0vw 2vw 3vw;
}

.card-wrapper {
	margin-top: 2vw;
	width: 50vw;
	padding: 10px 4vw 8px 8vw;
}

.card-wrapper:hover {
	background-color: #fafafa;
	margin-left: 0px;
}

.content-header {
	font-size: 14px;
	color: var(--juriverse-grey);
	text-transform: uppercase;
	margin-left: 8vw;
	margin-bottom: -1vw;
}

.tab-header {
	font-size: 14px;
	color: var(--juriverse-grey);
	text-transform: uppercase;
	margin-left: 8vw;
}
.recommended {
	color: var(--juriverse-gold);
}

.recommended-card:hover {
	background-color: rgba(204, 167, 104, 0.1);
}

.all-cases {
	margin-top: 4vw;
}

.title-flex {
	display: flex;
	justify-content: space-between;
}

.bookmark i {
	padding-right: 2vw;
}

.card-title {
	text-decoration: none;
	color: #414145;
	font-size: 20px;
	font-weight: 600;
	white-space: nowrap;
}

.card-title:hover {
	color: var(--juriverse-gold);
}

.card-author {
	color: var(--juriverse-dark);
	font-weight: 400;
	font-size: 16px;
}

.card-author span a {
	font-weight: 600;
	text-decoration: none;
	color: var(--juriverse-grey);
}

.card-author span a:hover {
	color: #414145;
}

.card-tags {
	color: var(--juriverse-grey);
}

.card-tags a:hover {
	color: #414145;
}

#first-tag {
	color: var(--juriverse-gold);
}

#first-tag:hover {
	color: var(--juriverse-dark);
}

.card-tags span {
	padding: 10px;
}

.card-tags span:first-child {
	padding-left: 0px;
}

.card-tags span a {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: var(--juriverse-grey);
	text-decoration: none;
	padding: 10px 10px 10px 0px;
}

#categorie-link a {
	color: var(--juriverse-dark);
}

#categorie-link a:hover {
	color: var(--juriverse-gold);
}

/* begin case page */

.top-container {
	width: 100%;
	height: 12vw;
	background-color: #fafafa;
	display: flex;
}

.logo-container {
	width: 15%;
	height: 12vw;
	display: grid;
}

.logo-container span {
	justify-self: center;
	align-self: center;
}

.logo-container span a {
	font-size: 5.5vw;
	color: var(--juriverse-gold);
	text-decoration: none;
}

.case-title {
	font-size: 24px;
	font-weight: 600;
	color: #414145;
	padding-top: 27px;
	margin-bottom: 7px;
}

.case-author {
	margin-top: 0px;
}

.container-bottom {
	display: grid;
	grid-template-columns: 15% 60% 25%;
	grid-template-rows: auto;
	grid-template-areas:
		'. text .'
		'. solution .';
}

.case-text {
	font-size: 16px;
	color: var(--juriverse-dark);
	line-height: 28px;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 0.19px;
	white-space: pre-wrap;
}

.sub-header {
	font-size: 14px;
	color: var(--juriverse-grey);
	text-transform: uppercase;
	margin-top: 2.5vw;
}

.case-question {
	margin-top: 3.5vw;
	margin-bottom: 3.5vw;
	font-weight: 600;
}

#showSolutionButton {
	background-color: #cca768;
	width: 25vw;
	height: 55px;
	border-style: none;
	color: white;
	justify-self: center;
	cursor: pointer;
	margin: 3% 0px 8% 23%;
	font-weight: 500;
	font-size: 16px;
}

#showSolutionButton:hover {
	background-color: white;
	color: #cca768;
	border: 1px solid #cca768;
}

#case-solution {
	display: none;
	grid-area: solution;
}

.done-header {
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.21px;
	text-align: center;
	color: var(--juriverse-dark);
}
/* construction */

.construction-container {
	padding: 3vw;
}

.construction-container h1 {
	text-align: center;
	margin: 2vw;
	color: var(--juriverse-dark);
	font-size: 2.5vw;
}

.error-box {
	display: grid;
	padding: 50px;
}

.error-box img {
	width: 500px;
	justify-self: center;
}

.error-box h1 {
	justify-self: center;
}

.error-box h3 {
	justify-self: center;
}

.dropdown-content {
	display: none;
	background-color: #fafafa;
	text-transform: uppercase;
	color: var(--juriverse-grey);
	position: sticky;
}
/* upload */
/* Style the tab */

.tab {
	overflow: hidden;
	margin-left: 8vw;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding-bottom: 10px;
	transition: 0.3s;
	font-weight: 600;
	font-size: 12px;
	color: var(--juriverse-grey);
	padding-left: 3px;
	margin-left: 0vw;
	margin-right: 1.5vw;
	margin-top: 1vw;
	border-bottom: 2px solid var(--juriverse-grey);
}

/* Change background color of buttons on hover */
.tab button:hover {
	border-bottom: 2px solid var(--juriverse-gold);
	color: var(--juriverse-gold);
}

/* Create an active/current tablink class */
.tab button.active {
	border-bottom: 2px solid var(--juriverse-gold);
	color: var(--juriverse-gold);
}

.public-hide {
	display: none;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip #align-left {
	margin-left: -8.5vw;
}
/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 6px 0px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	position: absolute;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.upload-header {
	font-size: 24px;
	font-weight: 600;
	color: #414145;
	margin-bottom: 2.5vw;
}

.upload-box {
	display: flex;
}

.upload-box a {
	margin-top: 10px;
	margin-left: 38vw;
	font-weight: 600;
	border: none;
	background-color: var(--juriverse-gold);
	color: white;
	cursor: pointer;
	text-decoration: none;
	height: 34px;
	padding-top: 15px;
	width: 139px;
	text-align: center;
}

.upload-box a:hover {
	border: 1px solid white;
}

.upload-subheader {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: var(--juriverse-dark);
}

.upload-subheader-wrapper {
	margin: 2vw 0vw 1vw 0vw;
}

.upload-input {
	letter-spacing: 0.2px;
	font-size: 16px;
	color: #a3a3a8;
	width: 80%;
	border: none;
	background-color: white;
	background-image: url('../images/add_circle.svg');
	background-position: 0px 0px;
	background-size: 22px;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 2px;
}

#uploadTitle {
	letter-spacing: 0.2px;
	color: #a3a3a8;
	width: 80%;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	border: none;
}

.continue-upload {
	width: 175px;
	height: 40px;
	color: white;
	border: none;
	background-color: var(--juriverse-gold);
	margin-top: 1vw;
	cursor: pointer;
	margin-left: 40vw;
}

#upload-continue {
	margin-top: 7vw;
}

.upload-icons:hover {
	background-color: #fafafa;
}
#save-draft {
	background-color: white;
	color: var(--juriverse-gold);
	border: 2px solid var(--juriverse-gold);
	margin-top: 1vw;
	cursor: pointer;
}

.continue-upload:hover {
	font-weight: bold;
	letter-spacing: 0.2px;
}

#choose-title {
	letter-spacing: 0.2px;
	color: var(--juriverse-dark);
	width: 80%;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	border: none;
}

#publish-upload {
	background-color: #d1d1d3;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.upload-checkbox {
	display: flex;
	margin-top: 1.5vw;
	width: 70%;
}

.checkbox {
	margin: 20px;
	padding-top: 6px;
}

input[type='checkbox'] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
	align-self: center;
	color: var(--juriverse-gold);
}

.confirmedColor {
	background-color: var(--juriverse-gold);
}
