
<section class="top-container">
	<div class="logo-container">
		<!-- <span><a href="/">J</a></span> -->
	</div>
	<article class="case-container">
		<h1 class="case-title">{{ result.name }}</h1>
		<p class="card-author case-author">
			von <span><a href="upload.html">{{ result.author.name }}</a></span>
		</p>
		<p class="card-tags">
			<span>{{# each result.categories}}<a id="first-tag" href="upload.html">{{ this }}</a>{{/each}}</span>
			•<span><a href="upload.html">{{ result.subcategories }}</a></span> •<span
				>
			<span><a href="upload.html">{{ result.problems }}</a></span>
		</p>
	</article>
</section>
<div class="container-bottom">
	<div class="left-bot-container"></div>
	<section class="middle-container">
		<article class="case-content">
			<h4 class="sub-header">Sachverhalt</h4>
			<p class="case-text">{{ result.case.intro[0] }}</p>
			<p class="case-question">{{ result.case.question}}</p>
			<button id="showSolutionButton" onclick="showSolution()">Musterloesung ansehen</button>
		</article>
	</section>
	<article id="case-solution">
		<h2 class="sub-header">Musterloesung</h2>
		<p class="case-text"> <span style="white-space: pre-wrap;">{{ result.case.solution }}</span></p>
		<form action="/fall/done" method="post">
			<h5 class="done-header">Fertig bearbeitet?</h5>
			<input id="showSolutionButton" class="rob-font" type="submit" value="Abschließen">
		</form>
	</article>
	<div class="right-bot-container"></div>
</div>
