
<h1>Home</h1>
<div class="searchHolder">
	<form class="searchBox" method="get" action="/search">
		<div class="dropdown">
			<div class="searchBar">
				<!-- <i class="material-icons" id="searchImg">search</i> --><input
					type="text"
					name="searchInput"
					id="searchInput"
					placeholder="  Search Title, Autor, Kategorie, etc."
					onkeyup="filterFunction()"
				/>
			</div>
			<div id="searchDropdown" class="dropdown-content">
				{{# each cases }}
				<a href="/case/{{this.name}}">{{ this.name }} by {{ this.author.name }}</a>
				{{/each}}
			</div>
		</div>
	</form>
	<p>Oft gesuchte Kategorien: Sachenrecht Handelsrecht ZPO 2 Verwaltungsrecht AT</p>
</div>
<div class="cardHolder">
	<h2 class="continueReading">Weiterlesen</h2>
	{{# each cases}}
	<div class="card">
		<a class="cardTitle" href="case/{{this.name}}""> {{ this.name }}</a>
		<p class="cardAuthor">von <strong> {{ this.author.name }} </strong></p>
		<p class="cardTags">{{ this.tags }}</p>
	</div>
	{{/each}}
</div>
