<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Juriverse App</title>
		<link rel="stylesheet" href="/styles/styles.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	</head>

	<body>
		<nav>
			<ul>
				<li>
					<div class="listBox firstItem">
						<span id="logo"><a href="/">JURIVERSE</a></span>
					</div>
				</li>
				<li>
					<div class="listBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">dashboard</i>
						</div>
						<div class="listLink"><a href="/">Dashboard</a></div>
					</div>
				</li>
				<li>
					<div class="listBox categories">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">account_circle</i>
						</div>
						<div class="listLink">
							<a href="/fall/zivilrecht">Zivilrecht
								<i class="fa fa-caret-down"></i>
							</a>
						</div>
						<div class="dropdown-content">
							<a href="/fall/zivilrecht/bgbat">BGB AT</a>
							<a href="/fall/zivilrecht/schuldrechtat">Schuldrecht AT</a>
							<a href="/fall/zivilrecht/schuldrechtbt">Schuldrecht BT</a>
							<a href="/fall/zivilrecht/sachenrecht">Sachenrecht</a>
							<a href="/fall/zivilrecht/deliktsrecht">Deliktsrecht</a>
							<a href="/fall/zivilrecht/bereicherungsrecht">Bereicherungsrecht</a>
						</div>
					</div>
				</li>
				<li>
					<div class="listBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">public</i>
						</div>
						<div class="listLink"><a href="/fall/oefrecht">Öffentliches Recht</a></div>
							<div class="dropdown-content">
							  <a href="/fall/oefrecht/staatsorganisationsrecht">Staatsorganisationsrecht</a>
							  <a href="/fall/oefrecht/grundrechte">Grundrechte</a>
							  <a href="/fall/oefrecht/europarecht">Europarecht</a>
							  <a href="/fall/oefrecht/verwaltungsrechtat">Verwaltungsrecht AT</a>
							  <a href="/fall/oefrecht/verwaltungsprozessrecht">Verwaltungsprozessrecht</a>
							  <a href="/fall/oefrecht/por">POR</a>
							  <a href="/fall/oefrecht/baurecht">Baurecht</a>
							  <a href="/fall/oefrecht/staatshaftungsrecht">Staatshaftungsrecht</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="listBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">security</i>
						</div>
						<div class="listLink"><a href="/fall/strafrecht">Strafrecht</a></div>
							<div class="dropdown-content">
							  <a href="/fall/strafrecht/straftatat">Strafrecht AT</a>
							  <a href="/fall/strafrecht/straftatbt">Strafrecht BT</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="listBox upload">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">publish</i>
						</div>
						<div class="listLink">
							<a href="/users/{{user.user_id}}/faelle">Fall hochladen</a>
						</div>
					</div>
				</li>
				<li>
					<div class="listBox profile">
						<div class="listIcon">
							<img src="{{user.picture}}" alt="Avatar" class="avatar" />
						</div>
						<div class="listLink">
							<a href="/users"
								>Profil <br />
								<span class="username" nowrap>{{user.nickname}}</span></a
							>
						</div>
					</div>
				</li>
				<li>
					<div class="logout">
						<div><a href="#">Hilfe</a></div>
						<div><a href="#">Einstellungen</a></div>
						<div><a href="/logout">Ausloggen</a></div>
					</div>
				</li>
			</ul>
		</nav>
		<section class="main">{{{ body }}}</section>
		<script src="/javascripts/scripts.js"></script>
	</body>
</html>
