<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Juriverse App</title>
		<link rel="stylesheet" href="/styles/styles.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	</head>

	<body>
		<nav>
			<ul>
				<li>
					<div class="listBox firstItem">
						<span id="logo"><a href="/">JURIVERSE</a></span>
					</div>
				</li>
				<li>
					<div class="listBox activeBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-activeIcon">home</i>
						</div>
						<div class="listLink"><a id="activeLink" href="/">Home</a></div>
					</div>
				</li>
				<li>
					<div class="listBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">bookmark</i>
						</div>
						<div class="listLink"><a href="/">Gespeichert (1)</a></div>
					</div>
				</li>
				<li>
					<div class="listBox categories">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">account_circle</i>
						</div>
						<div class="listLink"><a href="/">Zivilrecht</a></div>
					</div>
				</li>
				<li>
					<div class="listBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">public</i>
						</div>
						<div class="listLink"><a href="/">Öffentliches Recht</a></div>
					</div>
				</li>
				<li>
					<div class="listBox">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">security</i>
						</div>
						<div class="listLink"><a href="/">Strafrecht</a></div>
					</div>
				</li>
				<li>
					<div class="listBox upload">
						<div class="listIcon">
							<i class="material-icons md-24 md-grey">publish</i>
						</div>
						<div class="listLink"><a href="/">Fall hochladen</a></div>
					</div>
				</li>
				<li>
					<div class="listBox profile">
						<div class="listIcon">
							<img src="/images/avatar.png" alt="Avatar" class="avatar" />
						</div>
						<div class="listLink">
							<a href="upload.html"
								>Profil <br />
								<span class="username" nowrap>Max Muster</span></a
							>
						</div>
						<div class="listIcon settings">
							<i class="material-icons md-24 md-grey">settings</i>
						</div>
					</div>
				</li>
				<li>
					<div class="logout">
						<div class="listLink"><a href="#">Hilfe</a></div>

						<div class="listLink"><a href="#">Ausloggen</a></div>
					</div>
				</li>
			</ul>
		</nav>
		<section class="main">{{{ body }}}</section>
		<script src="/javascripts/scripts.js"></script>
	</body>
</html>
