<section class="top-box">
	<h2 class="page-header">Staatshaftungsrecht</h2>
	<form  action="/" method="get">
		<input class="search-bar" ntype="search" name="searchInput" id="searchInput"
			placeholder="Suche nach Titel, Autor, Kategorie, etc." />
	</form>
	<p class="search-suggestion">
		Oft benuzte Kategorien: <span>Deliktrecht</span> <span id="special">BGB AT</span>
		<span>Staatshaftungsrecht</span>
		<span>Staatshaftungsrecht</span>
	</p>
</section>
<div class="divider"></div>
<section class="bottom-box">
	<h3 class="content-header">ALLE FÄLLE</h2>
		{{# each result}}
		<article class="card-wrapper">
			<div class="title-flex">
				<div class="card-title-holder"><a class="card-title" href="/fall/{{this._id}}">{{ this.name }}</a></div>
								<!-- <div class=" bookmark"><i class="material-icons md-24 md-gold">turned_in_not</i></div> -->
			</div>
			<p class="card-author">von <span><a href="/author/{{this.author.email}}">{{ this.author.name }}</a></span>
			</p>
			<p class="card-tags">

				<span>
					<span id="categorie-link">{{#each this.categories}}<a href="#">{{this}}</a>{{/each}}</span>
					<span>{{#each this.subcategories}}<a href="#">{{ this }}</a>{{/each}}</span>
					{{#each this.problems}}<a href="#">{{ this }}</a>{{/each}}
				</span>

			</p>
		</article>
		{{/each}}
</section>
