<section class="top-box">
	<form action="/users/{{user_id}}/faelle" method="post">
		<div class="upload-subheader-wrapper">
		<input id="uploadTitle" name="uploadTitle" class="slab-font" type="text" placeholder="Titel" />
		<div class="upload-subheader-wrapper">
			<label for="sachverhalt" class="upload-subheader">Sachverhalt</label>
		</div>
		<textarea id="sachverhalt" name="sachverhalt" class="slab-font upload-input" placeholder="Beschreibe den Sachverhalt..."></textarea>
		<div class="upload-subheader-wrapper">
			<label for="aufgabe" class="upload-subheader">Aufgaben</label>
		</div>
		<textarea id="aufgabe" name="aufgabe" class="slab-font upload-input" placeholder="Formuliere die Aufgaben..."></textarea>
		<div class="upload-subheader-wrapper">
			<label for="musterloesung" class="upload-subheader">MusterLösung</label>
		</div>
		<textarea id="musterloesung" name="musterloesung" class="slab-font upload-input" placeholder="Beschreibe die Lösung..."></textarea>
		<input id="upload-continue" name="upload-continue" class="continue-upload" value="Weiter" type="submit"><br>
		<input id="upload-save" name="upload-save" class="continue-upload" value="Als Entwurf speichern" type="submit">
	</form>
</section>
