<section class="top-box">
	<h1 class="page-header">Hilfe</h1>
	<h2><span id="upc1" class="upc">FAQ</span></h2>
	<p style="width: 700px;"><span style="color: var(--juriverse-gold)"><u><b>Woher weiß ich, dass die Fälle gut
					sind?</u></b></span><br><br>
		Jeder Fall, der auf Juriverse hochgeladen wird, wird von einem Editorial Board gegengelesen. Das Editorial Board
		setzt
		sich aus JuristInnen aus ganz Deutschland zusammen. Wird ein Fall hochgeladen, lesen die Juristen gegen und die
		AutorInnen können ihn dann verbessern. Die Fälle, die für besonders hervorragend gehalten werden oder viele gute
		Bewertungen bekommen, landen in der “Empfohlen”-Sektion.<br><br>
	
		<span style="color: var(--juriverse-gold)"><u><b>Wer darf Fälle hochladen?</u></b></span><br><br>
		Jede(r) darf Fälle hochladen. Wie oben beschrieben werden die Fälle dann von der Community und dem Editorial Board
		gesehen und ordnen sich entsprechend ihrer Qualität in die empfohlenen Fälle ein.
	</p>
	<div class="divider-faq"></div>
	<h2><span id="upc1" class="upc">Kontakt</span></h2>
	<p style="width: 700px;">Bei weiteren Fragen oder Problemen können Sie uns gerne kontaktieren.
		Die Antwort können Sie innerhalb eines Tages erwarten.<br><br>
	
		Senden Sie uns eine E-Mail an: <span style="color: var(--juriverse-gold)"><b>hilfe@juriverse.com</b></span>
	</p>
	<div class="divider-faq"></div>
	<h2><span id="upc1" class="upc">AGB & Datenschutz</span></h2>
	<a href="">AGB</a>
	<a href="">Datenschutz</a>
</section>
