<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Juriverse</title>
	<link rel="stylesheet" href="/styles/styles.css" />
	<link rel="stylesheet" href="/styles/tagify.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/site.webmanifest">
	<script type="text/javascript"
		src="https://cdn.tiny.cloud/1/o3w8fmfy0svpw8jwy12p5jrrep3r1v6xt2rzaoejfa8x5jld/tinymce/5/tinymce.min.js"
		referrerpolicy="origin"></script>
	<script type="text/javascript">
		tinymce.init({
			selector: '.normalArea',
			width: '900',
			plugins: 'print autoresize preview paste importcss searchreplace autolink autosave save directionality visualblocks visualchars fullscreen link charmap hr nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern noneditable help charmap',
			menu: {
				file: { title: 'File', items: 'newdocument restoredraft | preview | print ' },
				edit: { title: 'Edit', items: 'undo redo | cut copy paste | selectall | searchreplace' },
				view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen' },
				format: { title: 'Format', items: 'bold underline superscript subscript | blockformats | removeformat' },
				insert: { title: 'Insert', items: '' },
				tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | code wordcount' },
				help: { title: 'Help', items: '' }
			},
			toolbar: 'undo redo | bold underline | formatselect | alignjustify | outdent indent | numlist bullist | removeformat | charmap | fullscreen  preview save print | insertfile link',
			toolbar_sticky: true,
			autosave_ask_before_unload: true,
			autosave_interval: '10s',
			autosave_prefix: 'tinymce-autosave-{path}{query}-{id}-',
			autosave_restore_when_empty: true,
			autosave_retention: '15m',
			toolbar_mode: 'sliding',
			contextmenu: 'bold underline',
		});
	</script>
</head>

<body>
	<nav>
		<ul>
			<li>
				<div class="listBox firstItem">
					<span id="logo"><a href="/cases">JURIVERSE</a></span>
				</div>
			</li>
			<li>
				<div class="listBox listBoxHover">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">dashboard</i>
					</div>
					<div class="listLink"><a href="/cases">Dashboard</a></div>
				</div>
			</li>
			<li>
				<div class="listBox categories listBoxHover">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">account_circle</i>
					</div>
					<div class="listLink">
						<a href="/cases/civillaw">Zivilrecht
							<i class="fa fa-caret-down"></i>
						</a>
					</div>
					{{!-- <div class="dropdown-content">
						<a href="/cases/civillaw/bgbat">BGB AT</a>
						<a href="/cases/civillaw/schuldrechtat">Schuldrecht AT</a>
						<a href="/cases/civillaw/schuldrechtbt">Schuldrecht BT</a>
						<a href="/cases/civillaw/sachenrecht">Sachenrecht</a>
						<a href="/cases/civillaw/deliktsrecht">Deliktsrecht</a>
						<a href="/cases/civillaw/bereicherungsrecht">Bereicherungsrecht</a>
					</div> --}}
				</div>
			</li>
			<li>
				<div class="listBox listBoxHover">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">public</i>
					</div>
					<div class="listLink"><a href="/cases/publiclaw">Öffentliches Recht</a></div>
					{{!-- <div class="dropdown-content">
						<a href="/cases/publiclaw/staatsorganisationsrecht">Staatsorganisationsrecht</a>
						<a href="/cases/publiclaw/grundrechte">Grundrechte</a>
						<a href="/cases/publiclaw/europarecht">Europarecht</a>
						<a href="/cases/publiclaw/verwaltungsrechtat">Verwaltungsrecht AT</a>
						<a href="/cases/publiclaw/verwaltungsprozessrecht">Verwaltungsprozessrecht</a>
						<a href="/cases/publiclaw/por">POR</a>
						<a href="/cases/publiclaw/baurecht">Baurecht</a>
						<a href="/cases/publiclaw/staatshaftungsrecht">Staatshaftungsrecht</a>
					</div> --}}
				</div>
			</li>
			<li>
				<div class="listBox listBoxHover">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">security</i>
					</div>
					<div class="listLink"><a href="/cases/criminallaw">Strafrecht</a></div>
					{{!-- <div class="dropdown-content">
						<a href="/cases/criminallaw/straftatat">Strafrecht AT</a>
						<a href="/cases/criminallaw/straftatbt">Strafrecht BT</a>
					</div> --}}
				</div>
			</li>
			<li>
				<div class="listBox upload listBoxHover">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">publish</i>
					</div>
					<div class="listLink">
						<a href="/upload">Fall hochladen</a>
					</div>
				</div>
			</li>
			<li>
				<div class="listBox profile">
					<div class="listIcon">
						<img src="{{user.picture}}" alt="Avatar" class="avatar">
					</div>
					<div class="listLink">
						<a href="/users">Profil <br />
							<span class="username" nowrap>{{user.nickname}}</span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="logout">
					<div><a href="/help">Hilfe</a></div>
					<div><a href="/logout">Ausloggen</a></div>
					<div style="margin-top: 10px; color: var(--juriverse-grey); text-align: center; font-size: 13px;">Made with <span
							style="color: var(--juriverse-gold);">&#9829;</span> in Berlin</div>
				</div>
			</li>
		</ul>
	</nav>
	<section class="main">{{{ body }}}</section>
	<script src="/scripts/scripts.js"></script>
</body>

</html>