<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Juriverse</title>
	<link rel="stylesheet" href="/styles/styles.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/site.webmanifest">
</head>

<body>
	<nav>
		<ul>
			<li>
				<div class="listBox firstItem">
					<span id="logo"><a href="/cases">JURIVERSE</a></span>
				</div>
			</li>
			<li>
				<div class="listBox">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">dashboard</i>
					</div>
					<div class="listLink"><a href="/cases">Dashboard</a></div>
				</div>
			</li>
			<li>
				<div class="listBox categories">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">account_circle</i>
					</div>
					<div class="listLink">
						<a href="/cases/civillaw">Zivilrecht
							<i class="fa fa-caret-down"></i>
						</a>
					</div>
					<div class="dropdown-content">
						<a href="/cases/civillaw/bgbat">BGB AT</a>
						<a href="/cases/civillaw/schuldrechtat">Schuldrecht AT</a>
						<a href="/cases/civillaw/schuldrechtbt">Schuldrecht BT</a>
						<a href="/cases/civillaw/sachenrecht">Sachenrecht</a>
						<a href="/cases/civillaw/deliktsrecht">Deliktsrecht</a>
						<a href="/cases/civillaw/bereicherungsrecht">Bereicherungsrecht</a>
					</div>
				</div>
			</li>
			<li>
				<div class="listBox">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">public</i>
					</div>
					<div class="listLink"><a href="/cases/publiclaw">Öffentliches Recht</a></div>
					<div class="dropdown-content">
						<a href="/cases/publiclaw/staatsorganisationsrecht">Staatsorganisationsrecht</a>
						<a href="/cases/publiclaw/grundrechte">Grundrechte</a>
						<a href="/cases/publiclaw/europarecht">Europarecht</a>
						<a href="/cases/publiclaw/verwaltungsrechtat">Verwaltungsrecht AT</a>
						<a href="/cases/publiclaw/verwaltungsprozessrecht">Verwaltungsprozessrecht</a>
						<a href="/cases/publiclaw/por">POR</a>
						<a href="/cases/publiclaw/baurecht">Baurecht</a>
						<a href="/cases/publiclaw/staatshaftungsrecht">Staatshaftungsrecht</a>
					</div>
				</div>
				</div>
			</li>
			<li>
				<div class="listBox">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">security</i>
					</div>
					<div class="listLink"><a href="/cases/criminallaw">Strafrecht</a></div>
					<div class="dropdown-content">
						<a href="/cases/criminallaw/straftatat">Strafrecht AT</a>
						<a href="/cases/criminallaw/straftatbt">Strafrecht BT</a>
					</div>
				</div>
				</div>
			</li>
			<li>
				<div class="listBox upload">
					<div class="listIcon">
						<i class="material-icons md-24 md-grey">publish</i>
					</div>
					<div class="listLink">
						<a href="../upload">Fall hochladen</a>
					</div>
				</div>
			</li>
			<li>
				<div class="listBox profile">
					<div class="listIcon">
						<img src="/images/account_circle.svg" alt="Avatar" class="avatar">
					</div>
					<div class="listLink">
						<a href="/users">Profil <br />
							<span class="username" nowrap>{{user.nickname}}</span></a>
					</div>
				</div>
			</li>
			<li>
				<div class="logout">
					<div><a href="/help">Hilfe</a></div>
					<div><a href="/users">Einstellungen</a></div>
					<div><a href="/logout">Ausloggen</a></div>
				</div>
			</li>
		</ul>
	</nav>
	<section class="main">{{{ body }}}</section>
	<script src="/scripts/scripts.js"></script>
</body>

</html>