<section class="top-box">
	{{#if result.error }} <div class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		{{result.error}}
	</div>
	{{/if}}
	<h1 class="upload-details-title">Wähle aus...</h1>
	<form action="/cases/{{result.caseId}}/details" method="post">

			<div class="upload-subheader-wrapper">
				<label for="issue" class="upload-subheader">Rechtsgebiet</label>
			</div>
			<group class="inline-radio">
				<div><input type="radio" name="categorie" id="civillaw" onclick="openLawTab('civillaw', 'zivilrecht-radio')"
						value="Zivilrecht" {{#inArray result.cases.categories 'Zivilrecht'}}{{/inArray}}><label for="categorie">Zivilrecht</label></div>
				<div><input type="radio" name="categorie" id="criminallaw" onclick="openLawTab('criminallaw', 'strafrecht-radio')"
						value="Strafrecht"{{#inArray result.cases.categories 'Strafrecht'}}{{/inArray}}><label for="categorie">Strafrecht</label>
				</div>
				<div><input type="radio" name="categorie" id="publiclaw" onclick="openLawTab('publiclaw', 'oefrecht-radio')"
						value="Öffentliches Recht" {{#inArray result.cases.categories 'Öffentliches Recht'}}{{/inArray}}>
					<label for="categorie">Öffentliches Recht</label>
				</div>
			</group>
			<div class="upload-subheader-wrapper">
				<label for="subcategories" class="upload-subheader">Teilgebiet (min. 1 Kategorie)</label>
			</div>

			<group class="inline-radio" id="zivilrecht-radio">
				<div>
					<input type="checkbox" name="subcategories" value="BGB AT" {{#inArray result.cases.subcategories 'BGB AT'}}{{/inArray}}>
					<label for="subcategories">BGB AT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Schuldrecht AT"
						{{#inArray result.cases.subcategories "Schuldrecht AT"}}{{/inArray}}>
					<label for="subcategories">Schuldrecht AT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Schuldrecht BT"
						{{#inArray result.cases.subcategories "Schuldrecht BT"}}{{/inArray}}>
					<label for="subcategories">Schuldrecht BT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Sachenrecht"
						{{#inArray result.cases.subcategories "Sachenrecht"}}{{/inArray}}>
					<label for="subcategories">Sachenrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Handelsrecht"
						{{#inArray result.cases.subcategories "Handelsrecht"}}{{/inArray}}>
					<label
						for="subcategories">Handelsrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Gesellschaftsrecht"
						{{#inArray result.cases.subcategories "Gesellschaftsrecht"}}{{/inArray}}>
					<label
						for="subcategories">Gesellschaftsrecht</label></div>
				<div>
					<input type="checkbox" name="subcategories" value="Erbrecht"
						{{#inArray result.cases.subcategories "Erbrecht"}}{{/inArray}}>
					<label for="subcategories">Erbrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Arbeitsrecht"
						{{#inArray result.cases.subcategories "Arbeitsrecht"}}{{/inArray}}>
					<label
						for="subcategories">Arbeitsrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Familienrecht"
						{{#inArray result.cases.subcategories "Familienrecht"}}{{/inArray}}>
					<label
						for="subcategories">Familienrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Zivilprozessrecht"
						{{#inArray result.cases.subcategories "Zivilprozessrecht"}}{{/inArray}}>
					<label
						for="subcategories">Zivilprozessrecht</label>
				</div>
			</group>

			<group class="inline-radio" id="strafrecht-radio">
				<div>
					<input type="checkbox" name="subcategories" value="Strafrecht AT"
						{{#inArray result.cases.subcategories "Strafrecht AT"}}{{/inArray}}>
					<label for="subcategories">Strafrecht AT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Strafrecht BT"
						{{#inArray result.cases.subcategories "Strafrecht BT"}}{{/inArray}}>
					<label for="subcategories">Strafrecht BT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="StPO" {{#inArray result.cases.subcategories "StPO"}}{{/inArray}}>
					<label for="subcategories">StPO</label>
				</div>
			</group>
			<group class="inline-radio" id="oefrecht-radio">
				<div>
					<input type="checkbox" name="subcategories" value="Grund- und Menschenrechte"
						{{#inArray result.cases.subcategories "Grund- und Menschenrechte"}}{{/inArray}}>
					<label for="subcategories">Grund- und Menschenrechte</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Verwaltungsrecht AT"
						{{#inArray result.cases.subcategories "Verwaltungsrecht AT"}}{{/inArray}}>
					<label for="subcategories">Verwaltungsrecht AT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Verwaltungsrecht BT"
						{{#inArray result.cases.subcategories "Verwaltungsrecht BT"}}{{/inArray}}>
					<label for="subcategories">Verwaltungsrecht BT</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Staatsorganisationsrecht"
						{{#inArray result.cases.subcategories "Staatsorganisationsrecht"}}{{/inArray}}>
					<label for="subcategories">Staatsorganisationsrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Europarecht"
						{{#inArray result.cases.subcategories "Europarecht"}}{{/inArray}}>
					<label for="subcategories">Europarecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Völkerrecht"
						{{#inArray result.cases.subcategories "Völkerrecht"}}{{/inArray}}>
					<label for="subcategories">Völkerrecht</label>
				</div>
				<div>
					<input type="checkbox" name="subcategories" value="Staatsrecht mit Bezügen"
						{{#inArray result.cases.subcategories "Staatsrecht mit Bezügen"}}{{/inArray}}>
					<label for="subcategories">Staatsrecht mit Bezügen</label>
				</div>
			</group>

			<div class="upload-subheader-wrapper">
				<label for="problems" class="upload-subheader">Tags (min. 1 Problem)</label>
			</div>
			<input name='tags' class='tagify--outside customLook' id="searchInput"
				placeholder='Tags hinzufügen (z.B. Täterschaft)...' onmousedown="addProblemsToArray()">
			
			<input id="upload-continue" name="upload-continue" onmousedown="categorieChecker()" class="continue-upload"
				value="Veröffentlichen" type="submit"><br>
			{{!-- <input id="upload-save" name="upload-save" class="continue-upload" value="Als Entwurf speichern" type="submit"> --}}
			</form>
</section>
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		openLawTab()
	});
</script>