<h1>Upload Content</h1>
<form id="regForm" method="post" action="/upload/insert">
    <!-- One "tab" for each step in the form: -->
    <div class="tab">
        <h3> Name of the Author & Case</h3>
        <p><input id="authorName" placeholder="Author Name" oninput="this.className = ''" name="authorName"></p>
        <p><input id="caseName" placeholder="Case Name" oninput="this.className = ''" name="caseName"></p>
    </div>
    <div class="tab">
        <h3> Case Content & Question </h3>
        <textarea id="caseContent" placeholder="Case Content/ Description " rows="10" cols="50" oninput="this.className='' " name="caseContent">
		</textarea>
        <p><input id="caseQuestion" placeholder="Case Question" oninput="this.className = ''" name="caseQuestion"></p> <br>
    </div>
    <div class="tab">
        <h3> Solution </h3>
        <textarea id="caseSolution" placeholder="Enter Text here" rows="10" cols="50" oninput="this.className='' " name="caseSolution">
		</textarea>
    </div>
    <div class="tab">
        <h3> Case Tags </h3>
        <form>
           <p> <input id="test" type="checkbox" name="test" value="Bike"> I have a bike<br> </p>
        </form>
    </div>
    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>